---
# First, create a working directory for any artefacts we may need to use.

- name: Create working directory
  ansible.builtin.file:
    path: /opt/ansible_rke2_install
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: Set work_dir variable for ease of use
  ansible.builtin.set_fact:
    work_dir: /opt/ansible_rke2_install

# We will update the /etc/hosts file on each node to ensure connectivity if DNS is not present.

- name: Update /etc/hosts with all node names and IP addresses
  ansible.builtin.lineinfile:
    path: /etc/hosts
    insertafter: EOF
    line: "{{ hostvars[item]['ansible_facts']['all_ipv4_addresses'][0] }} {{ hostvars[item]['ansible_facts']['fqdn'] }}"
    owner: root
    group: root
    mode: '0644'
  loop: "{{ ansible_play_hosts }}"

- name: Update /etc/hosts with the registration address
  ansible.builtin.lineinfile:
    path: /etc/hosts
    insertafter: EOF
    line: "{{ cluster['api_ip'] }} {{ cluster['api_fqdn'] }}"
    owner: root
    group: root
    mode: '0644'

# This allows us to utilise a shorter variable name for proxy variables where required,
# while maintaining a logical structure for the variable definition in the execution playbook.

- name: Set proxy variables if a proxy is required
  when: proxy['required'] | bool
  block:
    - name: Set http_proxy
      ansible.builtin.set_fact:
        http_proxy: "{{ proxy['http_proxy'] }}"
    - name: Set https_proxy
      ansible.builtin.set_fact:
        https_proxy: "{{ proxy['https_proxy'] }}"
    - name: Set no_proxy
      ansible.builtin.set_fact:
        no_proxy: "{{ proxy['no_proxy'] }}"

# Red Hat distributions utilise /usr/lib/systemd/system/ for systemd variable injection; Debian
# distributions such as Ubuntu utilise /usr/local/lib/systemd/system/. The systemd_folder variable
# accounts for this and ensures that the correct location is used for injecting variables into the
# RKE2 service. Similarly, Red Hat prefers /usr/bin for binaries, while Debian prefers /usr/local/bin.

- name: Set systemd folder for variable injection based on OS family
  ansible.builtin.set_fact:
    systemd_folder: "{{ (ansible_facts['os_family'] == 'RedHat') | ternary('/usr/lib/systemd/system', '/usr/local/lib/systemd/system') }}"

- name: Set binary folder based on OS family
  ansible.builtin.set_fact:
    bin_dir: "{{ (ansible_facts['os_family'] == 'RedHat') | ternary('/usr/bin', '/usr/local/bin') }}"

# When using keepalived, the script required for keepalive actions is stored in different
# locations in Debian and Red Hat distributions.

- name: Set script for folder for keepalived based on OS family
  ansible.builtin.set_fact:
    keepalived_script_dir: "{{ (ansible_facts['os_family'] == 'RedHat') | ternary('/usr/libexec/keepalived', '/etc/keepalived') }}"

- name: Install Helm
  block:
    - name: Download latest version string file
      ansible.builtin.get_url:
        url: https://get.helm.sh/helm4-latest-version
        dest: /tmp/helm-version.txt
        owner: root
        group: root
        mode: '0644'
    - name: Set version for Helm download
      ansible.builtin.set_fact:
        helm_version: "{{ lookup('ansible.builtin.file', '/tmp/helm-version.txt') }}"
    - name: Remove version file as it is no longer needed
      ansible.builtin.file:
        path: /tmp/helm-version.txt
        state: absent
    - name: Download latest Helm release tarball and unpack
      ansible.builtin.unarchive:
        src: "https://get.helm.sh/helm-{{ helm_version }}-linux-amd64.tar.gz"
        dest: "{{ bin_dir }}"
        remote_src: true
        owner: root
        group: root
        mode: '0755'

- name: Complete airgapped prerequisites (if required)
  when: airgapped | bool
  ansible.builtin.include_tasks: airgapped/00a_prerequisites.yml
