---
# This task set downloads the latest RKE2 installer for use with the cluster. It uses the
# defined working directory to store the script, and generates any additional required
# manifests for various advanced configuration (static pods, custom manifests etc.).
#
# The task set finishes with a server node ready to install RKE2 as either a server or
# an agent, optionally after applying any required CIS hardening.

- name: Download latest installation script
  ansible.builtin.get_url:
    url: https://get.rke2.io
    dest: "{{ work_dir }}/install.sh"
    owner: root
    group: root
    mode: "0700"

- name: Run RKE2 installation script
  ansible.builtin.command:
    cmd: "{{ work_dir }}/install.sh"
    creates: "{{ systemd_folder }}/rke2-server.service"
  environment:
    INSTALL_RKE2_CHANNEL: "{{ cluster['channel'] | default('stable') }}"
    INSTALL_RKE2_TYPE: "{{ hostvars[inventory_hostname]['node_type'] }}"
    INSTALL_RKE2_VERSION: "{{ cluster['version'] }}"
  changed_when: true

- name: Allow script to complete
  ansible.builtin.wait_for:
    path: "{{ systemd_folder }}/rke2-server.service"

- name: Create custom manifests for implementation (if required)
  when: cluster['custom_manifests_required'] | bool
  ansible.builtin.template:
    src: "{{ item }}"
    dest: "{{ rke2_data_path }}/server/manifests/"
    owner: root
    group: root
    mode: "0644"
  loop: "{{ cluster['custom_manifests'] }}"

- name: Create static pod manifests for implementation (if required)
  when: cluster['custom_static_pods_required'] | bool
  ansible.builtin.template:
    src: "{{ item }}"
    dest: "{{ rke2_data_path }}/agent/pod-manifests/"
    owner: root
    group: root
    mode: "0644"
  loop: "{{ cluster['custom_static_pods'] }}"

- name: Create RKE2 environment file
  when: cluster['environment_options_required'] | bool
  ansible.builtin.template:
    src: "{{ item }}"
    dest: "/etc/default/rke2-{{ hostvars[inventory_hostname]['node_type'] }}"
    owner: root
    group: root
    mode: "0644"
  loop: "{{ cluster['environment_options'] }}"
