---
# This task set instantiates the remaining server and agent nodes in the cluster. It
# creates the required directory for RKE2 configuration files, and additionally creates
# the config.yaml.d directory for non-core configurations to be applied. It then injects
# variables for systemd if required (such as proxy settings). Once this is complete,
# the relevant rke2 service (-server or -agent) is started, and the non-relevant rke2
# service is masked to avoid potential issues that may arise.
#
# The task set finishes by waiting for each node to be ready, and symlinking
# the kubeconfig and kubectl files to /root and a bin path for ease of management.

- name: Get token from the first server
  ansible.builtin.set_fact:
    token: "{{ hostvars[ansible_play_hosts_all[0]]['server_token'] }}"

- name: Create config directories for RKE2
  ansible.builtin.file:
    state: directory
    path: /etc/rancher/rke2/config.yaml.d
    owner: root
    group: root
    mode: "0755"

- name: Create RKE2 config.yaml
  ansible.builtin.template:
    src: templates/config.yaml.j2
    dest: /etc/rancher/rke2/config.yaml
    owner: root
    group: root
    mode: "0600"

- name: Set proxy for RKE2 service in systemd (if required)
  when: proxy['required'] | bool
  ansible.builtin.template:
    src: "templates/rke2-{{ hostvars[inventory_hostname]['node_type'] }}.env.j2"
    dest: "{{ systemd_folder }}/rke2-{{ hostvars[inventory_hostname]['node_type'] }}.env"
    backup: true
    owner: root
    group: root
    mode: "0644"

- name: Mask non-relevant RKE2 service on each server
  ansible.builtin.systemd:
    name: "rke2-{{ item }}.service"
    enabled: false
    masked: true
  loop:
    - "{{ (['agent', 'server'] | reject('match', hostvars[inventory_hostname]['node_type'])) | first }}"

- name: Start relevant rke2 service on each server
  ansible.builtin.service:
    name: "rke2-{{ hostvars[inventory_hostname]['node_type'] }}.service"
    state: started
    enabled: true

- name: Create .kube directory in root homedir
  when: hostvars[inventory_hostname]['node_type'] == 'server'
  ansible.builtin.file:
    path: /root/.kube
    state: directory
    owner: root
    group: root
    mode: "0700"

- name: Create symlinks for kubeconfig
  when: hostvars[inventory_hostname]['node_type'] == 'server'
  ansible.builtin.file:
    path: /root/.kube/config
    src: /etc/rancher/rke2/rke2.yaml
    state: link
    owner: root
    group: root

- name: Create symlinks for kubectl
  ansible.builtin.file:
    path: "{{ bin_dir }}/kubectl"
    src: /var/lib/rancher/rke2/bin/kubectl
    state: link
    owner: root
    group: root

- name: Check
  ansible.builtin.debug:
    msg: "{{ ansible_play_hosts_all | length }}"

- name: Wait for all remaining nodes to be ready in the cluster
  when: hostvars[inventory_hostname]['node_type'] == 'server'
  ansible.builtin.shell: "{{ bin_dir }}/kubectl --kubeconfig /root/.kube/config get nodes | grep ' Ready' | wc -l"
  args:
    executable: /bin/bash
  changed_when: false
  register: all_servers_progress
  until: "ansible_play_hosts_all | length == all_servers_progress['stdout'] | int"
  retries: 100
  delay: 15
