---
# Connected

- name: 00 - Prerequisite check
  ansible.builtin.include_tasks: 00_prerequisites.yml

- name: 01 - Configure local HA availability
  when: cluster['type'] == 'ha' and hostvars[inventory_hostname]['node_type'] == 'server'
  ansible.builtin.include_tasks: 01_configure_local_ha.yml

- name: 02 - Download and install RKE2 setup files
  ansible.builtin.include_tasks: 02_download_and_install_rke2.yml

- name: 03 - Apply requirements for CIS hardening
  ansible.builtin.include_tasks: 03_cis_hardening.yml

# # 04_configure_any_additional_required_confs

- name: 04 - Setup first server node
  when: inventory_hostname == ansible_play_hosts_all[0]
  ansible.builtin.include_tasks: 04_setup_first_server_node.yml

- name: 05 - Setup any remaining nodes
  when: inventory_hostname != ansible_play_hosts_all[0] and cluster['type'] != 'single-node'
  ansible.builtin.include_tasks: 05_setup_remaining_nodes.yml

- name: 06 - Summary output for the cluster installation
  when: inventory_hostname == ansible_play_hosts_all[0]
  ansible.builtin.include_tasks: 06_summary.yml


# Airgapped

# 00_prerequisites (includes airgapped/00a_prerequisites_airgapped.yml)

# 01_configure_local_ha

# airgapped/02a_download_and_install_rke2_airgapped

# 03_cis_hardening
