#!/bin/sh
errorExit() {
    echo "*** $*" 1>&2
    exit 1
}
testUrl() {
    curl --silent --max-time 2 --insecure "$1" --cert '{{ rke2_data_path }}/server/tls/client-ca.crt' --key '{{ rke2_data_path }}/server/tls/client-ca.key' -o /dev/null || errorExit "Error GET $1"
}
testUrl 'https://localhost:{{ cluster['api_dest_port'] }}/healthz'
if ip addr | grep -wq '{{ cluster['api_ip'] }}'; then
    testUrl 'https://{{ cluster['api_ip'] | ansible.utils.ipwrap }}:{{ cluster['api_dest_port'] }}/healthz'
fi