{% if not inventory_hostname == ansible_play_hosts_all[0] %}
server: https://{{ cluster['api_ip'] | ansible.utils.ipwrap }}:9345
token: {{ token }}
{% endif %}
tls-san:
  - {{ cluster['api_fqdn'] }}
cni: {{ cluster['cni'] }}
cluster-cidr: {{ cluster['pod_cidr'] }}
service-cidr: {{ cluster['service_cidr'] }}
cluster-dns: {{ cluster['dns'] }}
node-ip: {{ hostvars[inventory_hostname]['node_ip'] }}
advertise-address: {{ cluster['api_ip'] }}