{% if not rke2_node_first_server %}
server: https://{{ rke2_cluster_api_ip | ansible.utils.ipwrap }}:9345
token: {{ rke2_cluster_token }}
{% endif %}
tls-san:
  - {{ rke2_api_fqdn }}
cni: {{ rke2_cluster_cni }}
cluster-cidr: "{{ rke2_cluster_pod_cidr }}"
service-cidr: "{{ rke2_cluster_service_cidr }}"
cluster-dns: "{{ rke2_cluster_dns }}"
node-ip: "{{ rke2_node_ip }}"
advertise-address: "{{ rke2_node_advertise_address }}"